*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Libre Baskerville', serif;
    color:  linear-gradient(
        to bottom right,
        rgb(0, 100, 213),rgb(0, 101, 156), );
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.7;
}
main{
    min-height: 100vh;
    background: linear-gradient(to right top,#53F4E2,#0CA6D9 );
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    background-color: aliceblue;
    min-height: 75vh;
    width: 70%;
    background: linear-gradient(to bottom right,rgba(255,255,255,0.8),rgba(255,255,255,0.3));
    border-radius: 25px;
    z-index: 6;
    backdrop-filter: blur(100rem);
    display: flex;
}
.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to bottom right,rgba(255,255,255,0.8),rgba(255,255,255,0.3));
    border-radius: 25px;
}
.portals{
    flex: 3;
}
.linkinfo{
    background: white linear-gradient(to right top,#53F4E2,#0CA6D9 );
    border-radius: 1rem;
}
.links{
    align-items: center;
    justify-content: space-evenly;
}
.portals{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;

}
.button{
    background: white linear-gradient(to bottom right, gold,rgb(99, 242, 189),rgb(4, 157, 246));
    border: none;
    color:white;
  
    padding: 15px 45px;
    border-radius: 2rem;
    text-align: center;
    text-decoration-color: white;
   
    cursor: pointer;
    transition-duration: 0.4s;
    
}
.button:hover{
    
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      
}
.buttons{
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    justify-content: space-evenly;

}
.container{  
    width: 300;
    display: flex;
    justify-content: space-evenly;
}
.title{
    margin: 2rem;
}
.title input{
    background: linear-gradient(to bottom right,rgba(255,255,255,0.8),rgba(255,255,255,0.3));
border: none;
width: 41%;
border-radius: 2rem;
opacity: 0.7;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-right: 5px;
    margin-left: 15px;
}
.top{
    margin-top: 5px;
    margin-left: 20px;
    justify-items: center;
    display: flex;
}
.bottom{
    margin-top: 30px;
    margin-left: 20px;
    justify-items: center;
    display: flex;
}
.bottom1{
    margin-top: 30px;
    margin-left: 20px;
    justify-items: center;
justify-content: relative;
    display:flex ;
}
